{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-4 form-group">
            <form class="form" method="post" enctype="multipart/form-data" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.id) }}
                {{ wtf.form_field(form.firstname) }}
                {{ wtf.form_field(form.lastname) }}
                {{ wtf.form_field(form.course) }}
                <div class="form-group {{ 'has-error' if form.year.errors }}">
                    {{ form.year.label(class_="control-label") }}
                    <ul class="list-inline" id="year">
                        {% for subfield in form.year %}
                            <li>
                                <label class="radio-inline">
                                    {{ subfield(required='required') }}{{ subfield.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for error in form.year.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group {{ 'has-error' if form.gender.errors }}">
                    {{ form.gender.label(class_="control-label") }}
                    <ul class="list-inline" id="gender">
                        {% for subfield in form.gender %}
                            <li>
                                <label class="radio-inline">
                                    {{ subfield(required='required') }}{{ subfield.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for error in form.gender.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                {% if form.clear_photo %}
                <label class="control-label" for="id">Current Photo</label>
                    {% if student.avatar %}
                    <img src="{{ cloudinary_url(student.avatar, format='jpg', width=150, height=150, crop='fill', gravity='center')[0] }}" id="old-avatar" class="avatar">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/user.svg') }}" id="old-avatar" class="avatar" width="150" height="150">
                    {% endif %}
                {{ wtf.form_field(form.clear_photo) }}
                {% endif %}
                {{ wtf.form_field(form.photo) }}
                <img src="{{ url_for('static', filename='images/user.svg') }}" id="new-avatar" class="avatar" width="150" height="150">
                <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
                <script type="text/javascript">
                    const input = document.querySelector('#photo');
                    const avatar = document.querySelector('#new-avatar');

                    input.addEventListener('change', (event) => {
                        // https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL
                        // potential memory leak?
                        if (input.files[0]) {
                            avatar.src = URL.createObjectURL(input.files[0]);
                        } else {
                            avatar.src = "{{ url_for('static', filename='images/user.svg') }}";
                        }
                    });
                </script>
            </form>
        </div>
    </div>
{% endblock %}