{% extends "base.html" %}

{% block app_content %}
    <div class="page-header">
        <h1>Students</h1>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" href="{{ url_for('students.add') }}">Add Student</a>
        <a class="btn btn-default" href="{{ url_for('students.search') }}">Search</a>
    </div>
    <div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <tr>
            <th>ID Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Course</th>
            <th>Year</th>
            <th>Gender</th>
            <th></th>
          </tr>
          {% for student in students %}
          <tr>
            <td><a href="{{ url_for('students.profile', id=student.id) }}">{{ student.id }}</a></td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.year }}</td>
            <td>{{ student.gender.name }}</td>
            <td>
                <form class="form-inline" method="post" action="{{ url_for('students.delete', id=student.id) }}">
                    {{ form.csrf_token() }}
                    <a class="btn btn-default" href="{{ url_for('students.edit', id=student.id) }}">Edit</a>
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete {{ student.id }}?')">Delete
                    </button>
                </form>
                <!-- <a class="btn btn-default" href="{{ url_for('students.edit', id=student.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('students.delete', id=student.id) }}" onclick="return confirm('Are you sure you want to delete {{ student.id }}?')">Delete</a> -->
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>
    <nav class="text-center center-block" aria-label="Page navigation">{{ pagination.links }}</nav>
{% endblock %}