{% extends "base.html" %}

{% block app_content %}
    <div class="page-header">
        <h1>Students</h1>
    </div>
    <div>
        <a class="btn btn-default" href="{{ url_for('students.add') }}">Add Student</a>
    </div>
    <table class="table table-hover">
      <tr>
        <th>ID Number</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Course</th>
        <th>Year</th>
        <th>Gender</th>
        <th></th>
      </tr>
      {% for student in students %}
      <tr>
        <td><a href="{{ url_for('students.profile', id=student.id) }}">{{ student.id }}</a></td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.firstname }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.gender.name }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ url_for('students.edit', id=student.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('students.edit', id=student.id) }}">Delete</a>
            </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="{% if not prev_url %}disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous page
                </a>
            </li>
            <li class="{% if not next_url %}disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}