<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Simple Student Information System</title>
      {% else %}
      <title>Simple Student Information System</title>
      {% endif %}
    </head>
    <body>
        <div>Simple Student Information System:
            <a href="{{ url_for('students') }}">Students</a>
            <a href="{{ url_for('courses') }}">Courses</a>
            <a href="{{ url_for('colleges') }}">Colleges</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>