{% extends "base.html" %}

{% block app_content %}
    <h1>Students</h1>
    <div>
        <a href="{{ url_for('add_student') }}">Add Student</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <table class="table table-hover">
      <tr>
        <th>ID Number</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Course</th>
        <th>Year</th>
        <th>Gender</th>
        <th></th>
        <th></th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.firstname }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.gender.name }}</td>
        <td><a href="{{ url_for('view_student', id=student.id) }}">View</a></td>
        <td><a href="{{ url_for('edit_student', id=student.id) }}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous page
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}